<p>first works!</p>
<h2>Oh my Goood!!!</h2>
<h2>{{text}}</h2>

<section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
      <button mat-button (click)="changeText()">Change Text</button>
      <button mat-button (click)="showMoreButtons()" color="primary">Show more</button>
      <button mat-button (click)="showLessButtons()" color="accent">Show less</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section *ngIf="showSecondRow===true">
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <section>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of my_list">{{item}}</mat-list-item>
    </mat-list>
  </section>
  <section>
    <mat-form-field class="example-form-field">
      <mat-label>Enter favorite food</mat-label>
      <input matInput type="text" [(ngModel)]="inputValue">
      <button *ngIf="inputValue" matSuffix mat-icon-button aria-label="Clear" (click)="inputValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <h2>Your favorite food is {{inputValue}}</h2>
  </section>
  <section>
    <button (click)="getStudents()" mat-raised-button>Get students</button>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let student of studentsFromDB">
        {{student.Name}}
      </mat-list-item>
    </mat-list>
  </section>
  <section>
    <mat-form-field class="example-form-field">
      <mat-label>Enter student name</mat-label>
      <input matInput type="text" [(ngModel)]="newStudentName">
      <button *ngIf="inputValue" matSuffix mat-icon-button aria-label="Clear" (click)="inputValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Enter student age</mat-label>
      <input matInput type="text" [(ngModel)]="newStudentAlter">
      <button *ngIf="inputValue" matSuffix mat-icon-button aria-label="Clear" (click)="inputValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button (click)="addStudent()" mat-raised-button>Add student</button>
  </section>
